<div gridster class="container fullWidth">
  <div>
    <div gridster-item ng-repeat="widget in model.widgets" row="widget.position.row" col="widget.position.col" size-x="widget.size.x" size-y="widget.size.y">
      <div class="box" ng-controller="WidgetController">
        <div class="box-header">
          {{ widget.name }}
          <div class="box-header-btns pull-right">

            <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
            <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
          </div>
        </div>
        <div class="box-content">
          <div ng-include="widget.template" class="widget" ng-style="{height: widgetContentHeight+'px'}"></div>
          <div class="box-header" ng-style="{height: '20px', bottom:'3px', width:'100%'}">
                {{  widgetFullWidth }} -
                {{widgetFullHeight }} -

                {{widgetContentWidth }} -
                {{	widgetContentHeight }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
