.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.thumbnail {
  height: 200px;
  img.pull-right {
    width: 50px;
  }
}

.login {
  margin-right: 10px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #101010;
  border-color: #337ab7;
}
.login > li a span {
  font-size: xx-large;
}
.login > li p, span {
  color: rgb(137, 242, 137);
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 26px;
  background: lightslategray;
}
.footer > * {
  float: right;
  margin: 0 auto;
}
// injector
// endinjector
