<div class="footer container" ng-controller="FooterCtrl">
  <button class="dropdown-toggle" role="button" aria-expanded="false" ng-click="toggleDisplayMessages()">
    Messages
    <span class="badge">{{mcMessages.length}}</span>
  </button>
  <div class="message-center" ng-style="{display: displayMessages}" id="mc-messages-wrapper">
    <div class="alert alert-{{ message.type }} {{ animation }}" ng-repeat="message in mcMessages">
      <a class="close" ng-click="message.close();" data-dismiss="alert" aria-hidden="true">&times;</a>
      <span ng-switch on="message.html">
        <span ng-switch-when="true">
          <span ng-bind-html="message.message"></span>
        </span>
        <span ng-switch-default>
          {{ message.message }}
        </span>
      </span>
      <button type="button" class="btn btn-default btn-xs" ng-if="message.addons.go" ng-click="message.addons.go()">Go</button>
    </div>
  </div>
</div>
